* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(43, 43, 43);
}

.cabecalho {
  width: 100%;
  background: linear-gradient(to right, #cbaa49 , #fcdc95);
}

.container {
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: #736323;
  
}

h2 {
  margin-left: 20px;
  margin-bottom: 15px;
  color: #debe5c;
}

p {
  padding: 0 10px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.08rem;
  font-weight: 500;
  color: #e4e4e4;
  max-width: 800px;
}

ol {
  margin-top: 20px;
  margin-left: 50px;
  color: #e4e4e4;
}

li {
  margin-bottom: 8px;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #debe5c;
  font-weight: bolder;
}
