html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
  background-image: linear-gradient(to bottom, #dfb004, #b48a01, #7c5102);
  background-repeat: no-repeat;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

button {
  display: block;
  margin: 16px auto 0 auto;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffc800;
  color: #2b2201;
  font-weight: bolder;
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px 4px #a18522;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 30px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 76%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

@media (max-width: 520px) {
 
  h1 {
    font-size: 3.4rem;
  }
  .game {
    max-width: 100vw;
    max-height: 100vh;
    flex-wrap: wrap;
    
  }
  .hole:after {
    width: 90%;
    height: 60px;
    bottom: -30px;
  }
 
}
