* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(229, 213, 195);
}

li {
  list-style: none;
}

.container {
  margin: 120px auto 0 auto;
  border: 6px solid rgb(136, 59, 28);
  border-radius: 6px;
  max-width: 550px;
  min-height: 50vh;
  background-color: rgb(232, 153, 89);
}

.grid {
  display: grid;
  justify-content: center;
  margin-top: 32px;
  justify-items: center;
}

label {
  font-size: 5rem;
  font-weight: bolder;
  display: block;
  color: rgb(106, 40, 12);
  margin-bottom: 10px;
}

.busca {
  border-radius: 4px;
  border-color: rgb(227, 182, 156);
  height: 36px;
  margin-bottom: 10px;
  background-color: #f0eeee;
}

[placeholder] {
  padding: 5px;
  color: rgba(0, 0, 0,0, .1);
}

.resultados {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f3f3f3;
  max-width: 40ch;
}

@media(max-width: 500px) {
  .container {
    max-width: 300px;
    min-height: 32vh;
    margin: 28vh auto 0 auto;
  }
  label {
    font-size: 4rem;
  }
  
}